ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

li {
  padding: 10px;
  cursor: pointer;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}

li:hover {
  background-color: white;
  color: blue;
}
